<div class="container d-flex justify-content-center align-content-center mt-5 ">
    <iframe src="https://time-stuff.com/embed.html" allowtransparency="true" frameborder="0" scrolling="no" width="520" class="border border-dark border-2 p-4 bg-white" height="230"></iframe>
</div>
